* {
  -web-kit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background: #003471;
}

#logo {
  width: 225px;
  height: 135px;
  margin: 0px 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 145px;
  background: #003471;
  margin-left: -100px;
}

a {
  text-decoration: none;
}

#selector {
  height: 80px;
  width: 110px;
  position: absolute;
  margin-left: -85px;
}

nav ul li {
  text-decoration: none;
  padding: 0px 30px;
  font-size: 20px;
  color: white;
  font-family: serif;
  display: inline;
}

nav ul li:hover {
  color: black;
}

#Hero {
  width: 100%;
  display: flex;
  margin-left: -8px;
  background-image: url("img/profile.png");
  background-repeat:no-repeat;
  background-position: center;
  height: 680px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#Hero p {
  color: white;
  font-style: italic;
  font-size: 18px;
  padding-right: 100px;
}

#testimonials-right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-right: -300px;
}

#testimonials-right p {
  margin: 100px;
}

footer {
  display: flex;
  margin-top: 25px;
  width: 100%;
  align-content: center;
  justify-content: center;
}

footer ul li {
  display: inline;
  text-decoration: none;
  padding: 50px;
  color: grey;
  font-size: 20px;
  font-family: serif;
}
