* {
  -web-kit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  font-family: serif;
}

h3 {
  font-size: 16px;
  font-family: serif;
  font-style: italic;
}

body {
    background: #003471;
}

#logo {
  display: inline-block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #003471;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

#selector {
  height: 80px;
  width: 110px;
  position: absolute;
  margin-left: -85px;
}

nav ul li {
  text-decoration: none;
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  font-family: serif;
  display: inline-block;
}

nav ul li:hover {
  color: black;
}

#Hero {
  width: 100%;
  display: flex;
  margin-left: -8px;
  background-image: url("img/profile.png");
  background-repeat:no-repeat;
  background-position: center;
  height: 680px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#Hero p {
  color: white;
  font-style: italic;
  font-size: 18px;
  padding-right: 100px;
}

#testimonials-right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-right: -300px;
}

#testimonials-right p {
  margin: 100px;
}

footer {
  display: flex;
  margin-top: 25px;
  width: 100%;
  align-content: center;
  justify-content: center;
}

footer ul li {
  display: inline;
  text-decoration: none;
  padding: 50px;
  color: grey;
  font-size: 20px;
  font-family: serif;
}

#resume {
  display: flex;
  height: 945px;
  width: 100%;
  background-image:  url("img/resume_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  align-items: center;
}

#resume_info {
  margin-left: 250px;
  display: flex;
  align-content: center;
  color: white;
  height: 600px;
  width:auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding-right: 30px;
}

ul li {
  list-style: none;
  margin-left: -10px;
}
